//Colors
$mainRed: #d10246;
$mainRedHover: rgb(176, 3, 60);

$textSpanBlue: #23808f;

$inputBorderColor: #ced4da;
$inputTextColor: #495057;

//Media queries (responsive)
$medium: 1190px;
$small: 910px;